/* body {
    margin: 0px;
    overflow: hidden;
  }
   */
.line-path {
fill: none;
stroke-width: 0.7;
stroke-linejoin: round;
stroke-linecap: round;
mix-blend-mode: multiply;
}
  
text {
font-family: sans-serif;
}

.tick text {
font-size: 7px;
fill: #635F5D;
}

.tick line {
stroke: #C0C0BB;
}

.axis-label {
font-size: 8px;
fill: #8E8883;
}

.title {
font-size: 10px;
fill: #635F5D;
}