

.horizon {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    overflow: hidden;
    position: relative;
}

.horizon + .horizon {
    border-top: none;
}

.horizon canvas {
    display: block;
    image-rendering: pixelated;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  font-family: sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}