/* 
#h-title{
  font-size: 40px;
  position: relative;
  right:800px
}


#time{
  right: 310px;
  top : -50px;
  position: relative;
  width: 890px;
  
}

#gastype_select{
  font-size: 20px;
  position: relative;
}

#year_select{
  left: 1640px;
  top: -600px;
  font-size: 20px;
  position: relative;
}

#year_label{
  left: 1640px;
  top: -600px;
  font-size: 20px;
  position: relative;
}

#month_select{
  left: 1503px;
  top: -570px;
  font-size: 20px;
  position: relative;
}

#month_label{
  left: 1500px;
  top: -570px;
  font-size: 20px;
  position: relative;
}

#day_select{
  left: 1420px;
  top: -540px;
  font-size: 20px;
  position: relative;
}

#day_label{
  left: 1420px;
  top: -540px;
  font-size: 20px;
  position: relative;
} */

.map_level { 
  display: grid;
  width: 100%;
  grid-template-columns: 200px 600px 1fr 1fr;
  /* grid-gap: 20px; */
} 

.map_level_child{
  border: 2px solid red;
  float: left; 
}

/* #hexmap_container{
  width: 60%; 
} */

#hexmap{
  left: -25%;
  position:relative;
}

#horizon_container{
  border: 2px solid red;
}

#horizon_graph{
  width: 50%; 
  border: 2px solid red;
}



